.App {
  margin: 20px auto;
  width: 60%;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  background-color: white;
  padding: 20px;
  text-align: left;
  box-shadow: none;
}

form {
  display: flex;
  flex-direction: column;
}

.post-type {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-top: 10px;
  color: black;
  text-align: left;
  font-size: 2rem;
}

textarea {
  height: 200px; /* Set specific height for text area */
}

input, textarea {
  padding: 20px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  background-color: white;
  font-size: 1.8rem;
}

button {
  padding: 20px;
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  width: 100%;
}

button:hover {
  background-color: #2e4687; /* Change color on hover */
}

.post-type label {
  font-weight: normal;
  color: black;
  font-size: 2rem;
}

h1 {
  font-size: 3rem;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}
